{#######################################################}
{#                                                     #}
{#   Logo | Image | Hover - Particle for Gantry        #}
{#                                                     #}
{#   Purpose: This project adds a powerful image /     #}
{#            logo presentation particle to the        #}
{#            Gantry templating framework. The         #}
{#            component supports rollover and many     #}
{#            CSS3 hover and transition effects.       #}
{#                                                     #}
{#   Author: Andreas Kar (thex) <andreas.kar@gmx.at>   #}
{#   Repository: https://git.io/fA9XW                  #}
{#   Homepage: https://gantryprojects.com              #}
{#                                                     #}
{#######################################################}

{% extends '@nucleus/partials/particle.html.twig' %}

{% set cAttrs = '' %}
{% if particle.tag.attributes %}
    {% for attr in particle.tag.attributes %}
        {% for key, value in attr %}
            {% set cAttrs = cAttrs ~ ' ' ~ key|e ~ '="' ~ value|e('html_attr') ~ '"' %}
        {% endfor %}
    {% endfor %}
{% endif %}

{% if particle.css.class %}
    {% set cClass = ' ' ~ particle.css.class %}
{% else %}
    {% set cClass = '' %}
{% endif %}

{% set imageDefault = url(particle.image.default.url) %}
{% set imageHover = url(particle.image.hover.url) %}
{% set imageTitle = (particle.image.default.title ? ' title="' ~ particle.image.default.title ~ '"' : '') %}
{% set imageHoverTitle = (particle.image.hover.title ? ' title="' ~ particle.image.hover.title ~ '"' : '') %}
{% set imageAlt = (particle.image.default.alt ? ' alt="' ~ particle.image.default.alt ~ '"' : '') %}
{% set imageHoverAlt = (particle.image.hover.alt ? ' alt="' ~ particle.image.hover.alt ~ '"' : '') %}
{% set imageDefLazyLoad = particle.image.default.lazy_load %}
{% set imageHovLazyLoad = particle.image.hover.lazy_load %}

{% set effectMulti = particle.effect.multi|default('t1') %}
{% set effectSingle = particle.effect.single|default('none') %}
{% set ofClass =  (particle.effect.overflow ? ' of-hidden' : '') %}

{% set text = particle.text.text|default('Logo / Image') %}
{% set tStyle = particle.text.style|default('none') %}
{% set tClass = (particle.text.css.class ? ' class="' ~ particle.text.css.class|e ~ '"' : '') %}
{% set aTitle = (particle.link.title ? ' title="' ~ particle.link.title ~ '"' : '') %}
{% set aUrl = url(particle.link.url)|default(gantry.siteUrl()) %}

{% if (aUrl == gantry.siteUrl()) %}
    {% set aRel = ' rel="home"' %}
{% else %}
    {% set aRel = '' %}
{% endif %}

{% if particle.link.target != 'none' and particle.link.target is not empty %}
    {% set aTarget = ' target="' ~ particle.link.target ~ '"' %}
{% else %}
    {% set aTarget = '' %}
{% endif %}

{% set scriptType = 'text/javascript' %}

{% set jsPlace = particle.js.placement|default('head') %}
{% set jsExec = particle.js.execution|default("both") %}
{% set jsExecAttr = _self.getJSExecution(jsExec) %}
{% set jsPrior = particle.js.priority|default(0) %}
{% set jsHandle = particle.js.handle|default('inline') %}

{% set cdnRepo = particle.cdn.base_url|default('https://cdn.jsdelivr.net/gh/thexmanxyz/Logo-Image-Hover-Gantry@latest/src/js') %}
{% set jsPath = _self.getResourceFilePath(particle.js, cdnRepo, 'logo-image-hover', 'js') %}

{%- set textTag -%}
    {%- if (particle.render == 'default' and not imageDefault) or particle.render == 'text' or particle.render == 'both' -%}
            {{- _self.renderTag(tStyle, tClass, 0) -}}{{text|raw}}{{- _self.renderTag(tStyle, '', 1) -}}
    {%- endif -%}
{%- endset -%}

{%- block particle -%}
<div class="g-logo-image-hover{{ofClass|e}}{{cClass|e}}"{{cAttrs|raw}}>
    {%- set lazyState = (imageDefLazyLoad or imageHovLazyLoad) ? 'true' : 'false' -%}
    {%- set effectState = (jsHandle == 'extern' and effectMulti == 't1' and imageHover) ? 'true' : 'false' -%}
    
    {%- if particle.link.enabled == 1 -%}<a href="{{aUrl}}"{{aTarget|raw}}{{aTitle|raw}}{{aRel|raw}}>{%- endif -%}
    {%- if particle.text.position == 'before' -%}{{textTag|raw}}{%- endif -%}
    {%- if particle.render == 'default' or particle.render == 'image' or particle.render == 'both' -%}
        {{- _self.renderImage(imageDefault, imageHover, imageTitle, imageHoverTitle, imageAlt, imageHoverAlt, imageDefLazyLoad, imageHovLazyLoad, effectSingle, effectMulti, jsHandle) -}}
    {%- endif -%}
    {% if particle.text.position == 'after' %}{{textTag|raw}}{% endif %}
    {%- if particle.link.enabled == 1 -%}</a>{%- endif -%}
    {%- scripts in jsPlace with { priority: jsPrior } -%}
        <script>window.logoimagehover = {lazy: {{lazyState}}, effect: {{effectState}} };</script>
    {%- endscripts -%}
    {%- scripts in jsPlace with { priority: jsPrior } -%}
        <script type="{{scriptType}}" src="{{url(jsPath)}}"{{jsExecAttr}}></script>
    {%- endscripts -%}
</div>
{%- endblock -%}

{%- macro renderTag(tag, class, close) -%}
    {%- if tag != 'none' -%}
        <{{tag}}{{class|raw}}{% if close == 1 %}/{% endif %}>
    {%- endif -%}
{%- endmacro -%}

{%- macro renderImage(imgDef, imgHover, imgTitle, imgHoverTitle, imgAlt, imgHoverAlt, imgLL, imgHoverLL,  effectS, effectM, jsType) -%}
    {%- set link_src_top -%}{% if imgLL %}data-{% endif %}src="{{imgDef}}"{{imgTitle|raw}}{{imgAlt|raw}}{%- endset -%}
    {%- if imgDef -%}
        {%- if effectM == 't1' or not imgHover -%}
            {%- if imgHover -%}
                {%- if jsType == 'inline' -%}
                    {% set link_attrs %} onmouseover="this.src='{{imgHover}}'" onmouseout="this.src='{{imgDef}}'"{% endset %}
                {%- else -%}
                    {% set link_attrs %} data-logo-over="{{imgHover}}" data-logo-out="{{imgDef}}"{% endset %}
                {%- endif -%}
            {%- else -%}
                {% set link_attrs %}{% endset %}
            {%- endif -%}
            <img {{link_src_top|raw}}{{link_attrs|raw}} class="{% if effectS != 'none' %}{{effectS}} {% endif %}front"/>
        {%- else -%}
            {%- set link_src_bottom -%}{% if imgHoverLL %}data-{% endif %}src="{{imgHover}}"{{imgHoverTitle|raw}}{{imgHoverAlt|raw}}{%- endset -%}
            <img {{link_src_top|raw}} class="{{effectM}} front{% if imgLL %} lazy{% endif %}"/>
            <img {{link_src_bottom|raw}} class="{{effectM}} back {% if imgHoverLL %} lazy{% endif %}"/>
        {%- endif -%}
    {%- endif -%}
{%- endmacro -%}
{%- macro getResourceFilePath(element, cdnUrl, cdnFile, type) -%}
    {%- set elPath = element.path|default(cdnFile ~ "." ~ type) -%}
    {%- set elOpt = element.option|default("disabled") -%}
    {%- set path = empty -%}
    {%- if elOpt == 'local' or elOpt == 'global' -%}
        {%- set hPath = elPath -%}
        {%- if hPath is not empty and hPath|slice(0, 1)|lower == '/' -%}
            {%- set hPath = hPath|slice(1, (hPath|length - 1)) -%}
        {%- endif -%}
        {%- set hPath = type ~ '/' ~ hPath -%}
        {%- if elOpt == 'local' -%}
            {%- set path = 'gantry-theme://' ~ hPath -%}
        {%- else -%}
            {%- set path = 'media/gantry5/engines/nucleus/' ~ hPath -%}
        {%- endif -%}
    {%- elseif elOpt == 'custom' -%}
        {%- set path = elPath -%}
    {%- endif -%}
    {%- if path is empty -%}
        {%- set path = cdnUrl ~ '/' ~ cdnFile ~ "." ~ type -%}
    {%- endif -%}
    {{- path|raw -}}
{%- endmacro -%}

{%- macro getJSExecution(type) -%}
    {%- set attribute = '' -%}
    {%- if type == 'defer' or type == 'both' -%}
        {%- set attribute = 'defer="defer"' -%}
    {%- endif -%}
    {%- if type == 'both' -%}
        {%- set attribute = attribute ~ ' ' -%}
    {%- endif -%}
    {%- if type == 'async' or type == 'both' -%}
        {%- set attribute = attribute ~ 'async="async"' -%}
    {%- endif -%}
    {%- if type is not empty -%}
        {%- set attribute = ' ' ~ attribute -%}
    {%- endif -%}
    {{- attribute|raw -}}
{%- endmacro -%}